*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    align-items: center;
    justify-content: center;
    color: #333;
    background-image: url(../img/header1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
nav {
    background-color: rgb(24, 82, 169);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 20px;
    font-size: 16px;
}

nav a:hover {
    background-color: rgb(152, 153, 153);
    border-radius: 5px;
}
h1 {
    color: whitesmoke;
    padding: 20px;
    margin: 0;
    font-size: 40px;
    text-align: center;
}
.landing-container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
  }
.landing-container p {
    text-align: center;
    color: #666;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}
.landing-container .btn {
    margin-top: 20px;
    padding: 14px 24px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    display: inline-block;
  }
  
  .landing-container .btn:hover {
    background-color: #0056b3;  /* Darker shade on hover */
  }

  @media (max-width: 1920px) {
    body {
        font-size: 18px;
    }
  }

  footer {
    background-color: rgb(24, 82, 169);
    color: white;
    text-align: center;
    padding: 6px 0;
    font-size: 14px;
    height: auto;
    line-height: normal;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin: auto;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
}